<!DOCTYPE html>
<html>
<head>
	<title>Classify fruit!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="static/scripts/index.js" defer></script>
</head>
<body style="background-color:white">

<div id="maintext" style="position:absolute; margin:auto; width:700px; height:200px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">  
<img src="https://lh3.googleusercontent.com/proxy/TLqdkqi0NPy3zZVi8Bqu-y8L7kGLDxC2jPk3S3beHEVILdkHHTyKp2F9RkJUOaH1EOzfkFxSoIJ6NeFIYjLlw69gUmOBOXvnYe05nWg-rBdCw37zn5mw83oMtGn3" alt="Trulli" align='middle' >
	<h1 class="text-dark mb-2"> Select the photo you want to classify! </h1>
	<h4 class="text-dark mb-5">(PXT)</h4>
	<form method=post enctype=multipart/form-data id="upload-img" action="{{ url_for('prediction') }}">	
		<p class="text-dark">
            <input type="file" id="input-img" name="img" accept="image/*"/>
            <input type="SUBMIT" id="input-img-submit" value="Upload">
		</p>
        <input type="text" id="input-img-data" name="img-data" hidden="true">
	</form>
</div>

</body>
</html>

